<div class="mt-3 text-monospac">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="font-weight-lighter">Fee payments</h1>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-2 mt-1 text-center">
            <button class="btn btn-sm btn-success rounded-pill" type="button" data-toggle="modal"
                data-target="#myModal13">add student fee</button>
        </div>
    </div>
</div>





<!-- The Modal -->
<div class="modal fade" id="myModal13">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title font-weight-light">add fee details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form #ref13='ngForm' (ngSubmit)='addfeedetails(ref13.value)'>
                    <div class="form-group">
                        <input type="text" name="imsid" placeholder="student ID" class="form-control w-50 rounded-pill"
                            ngModel #ref2=ngModel required>
                        <!-- validation condition -->
                        <div *ngIf='ref2.invalid && ref2.touched'>
                            <p class="text-danger"> *this field is mandatory*</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="number" name="batch" placeholder="batch number"
                            class="form-control w-50 rounded-pill" ngModel #ref3=ngModel required>
                        <!-- validation condition -->
                        <div *ngIf='ref3.invalid && ref3.touched'>
                            <p class="text-danger"> *this field is mandatory*</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="date" name="dop" class="form-control rounded-pill" ngModel #ref5=ngModel required>
                        <!-- validation condition -->
                        <div *ngIf='ref5.invalid && ref5.touched'>
                            <p class="text-danger"> *this field is mandatory*</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="number" name="totalfee" placeholder="Total fees" class="form-control rounded-pill"
                            ngModel #ref4=ngModel required>
                        <!-- validation condition -->
                        <div *ngIf='ref4.invalid && ref4.touched'>
                            <p class="text-danger"> *this field is mandatory*</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="number" name="payment" placeholder="installment amount"
                            class="form-control rounded-pill" ngModel #ref6=ngModel required (change)='updatebal($event)'>
                        <!-- validation condition -->
                        <div *ngIf='ref6.invalid && ref6.touched'>
                            <p class="text-danger"> *this field is mandatory*</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="number" name="balance" class="form-control rounded-pill" #ref7=ngModel
                            required ngModel>
                        <!-- validation condition -->
                        <div *ngIf='ref7.invalid && ref7.touched'>
                            <p class="text-danger"> *this field is mandatory*</p>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn rounded-pill btn-sm btn-block btn-success text-white mt-2"
                            (click)="addfeedetails(ref13.value)" data-dismiss="modal">submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- [disabled]='ref13.invalid' -->